<div class="card" style="width: 18rem;">
    <img src="../../../assets/ProfileLinked.png" class="card-img-top" alt="...">
    <div class="card-body text-center">
        <h5 class="card-title mb-0">Card title</h5>
        <small class="my-0">Subtitulaso</small>
    </div>
    <hr class="my-0">
    <div class="card-body">
        <div class="row mb-0">
            <div class="col-8">
                <small class="list-group-item">Quién ha visto tu perfil</small>
            </div>
            <div class="col-4">
                <a href="#" class="text-decoration-none focus-ring">1325</a>
            </div>
        </div>
        <div class="card-text row mt-0">
            <div class="col-8">
                <small class="list-group-item">Visualizaciones de tu publicación</small>
            </div>
            <div class="col-4">
                <a href="#" class="text-decoration-none">973</a>
            </div>
        </div>
        <div class="card-text row mt-4">
            <small>Accede a información y herramientas exclusivas</small>
            <strong class="pointer">Volver a probar premium</strong>
        </div>

    </div>
    <hr class="my-0">
    <div class="card-body mt-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
          </svg>
        <Strong> <small> Marcapáginas</small></Strong>
    </div>
</div>